% Put your custom commands here. One per line, in the form <name>,<classpath>
% E.g.:
% list,commands.List
senses,org.afox.capisco.commands.Senses
mappings,org.afox.capisco.commands.Mappings
contexts,org.afox.capisco.commands.Contexts
search,org.afox.capisco.commands.Search
doc,org.afox.capisco.commands.GetDocument
artname,org.afox.capisco.commands.ArticleName
artid,org.afox.capisco.commands.ArticleID
synonyms,org.afox.capisco.commands.Synonyms
synmaps,org.afox.capisco.commands.SynMappings
inlinks,org.afox.capisco.commands.Inlinks
keyphrases,org.afox.capisco.commands.KeyPhrases
outlinks,org.afox.capisco.commands.Outlinks
keymaps,org.afox.capisco.commands.KeyMappings
disambiguate,org.afox.capisco.commands.Disambiguate
d,org.afox.capisco.commands.Disambiguate
phrase,org.afox.capisco.commands.Phrase
p,org.afox.capisco.commands.Phrase
when,org.afox.capisco.commands.When
w,org.afox.capisco.commands.When
artdesc,org.afox.capisco.commands.ArticleDescription
new,org.afox.capisco.commands.AddArticle
newmap,org.afox.capisco.commands.AddMapping
rel,org.afox.capisco.commands.Relationship
mut,org.afox.capisco.commands.Mutuality
