<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Date</Data></Cell>
        <Cell><Data ss:Type="String">Search terms</Data></Cell>
        <Cell><Data ss:Type="String">Document title</Data></Cell>
        <Cell><Data ss:Type="String">Page</Data></Cell>
      </Row>
    <% @storedresults.each do |searchresult| %>
      <Row>
        <Cell><Data ss:Type="String"><%= searchresult.date %></Data></Cell>
        <Cell><Data ss:Type="String"><%= searchresult.searchterminfo %></Data></Cell>
        <Cell><Data ss:Type="String"><%= searchresult.title %></Data></Cell>
        <Cell><Data ss:Type="String"><%= searchresult.pagenum %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>

