<div class="manage-forms-id">
<p>
  <strong>Title:</strong>
  <%= link_to @workset.title, edit_workset_path(@workset) %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= @workset.description %>
</p>

<%= link_to 'Back', worksets_path %>
</div>