// Place all the styles related to the getDoc controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#resultFeed{
	padding-left: 20px;
}