<% provide(:title, "Explore") %>

<div class="row container col-md-6 col-md-offset-3 text-center">
	<h1>HathiTrust <small>Expert Tools</small></h1>
	<p id="hint"></p>
</div>

<div class="clear"></div>


<div class="row container col-md-6 col-md-offset-3">
	<!-- <a href="/concepts/everything?id=509080">Everything (link to be removed in final version!)</a> -->

	<div class="result-list">
		<div class="result-list-title">
			<h2 class="title">Explore Knowledge Base</h2>
			<div class="description grey"></div>
		</div>

		<ul class="document-list">
			<li class="document-item">
				<div class="document-item-checkbox"></div>
				<div class="document-item-content">
					<a href="/concepts/exploreSynonyms">Synonyms of a keyword</a>
					<div class="document-item-details grey">
						Enter a keyword to find all its synonyms.
					</div>
				</div>
			</li>
			<li class="document-item">
				<div class="document-item-checkbox"></div>
				<div class="document-item-content">
					<a href="/concepts/exploreContexts">Synonyms and their context for a keyword</a>
					<div class="document-item-details grey">
						Enter a keyword to explore its contexts.
					</div>
				</div>
			</li>
		</ul>
	</div>

	<div class="result-list">
		<div class="result-list-title">
			<h2 class="title">Change Knowledge Base</h2>
			<div class="description grey"></div>
		</div>

		<ul class="document-list">
			<li class="document-item">
				<div class="document-item-checkbox"></div>
				<div class="document-item-content">
					<a href="concepts/exploreContexts">Add synonyms (integrated)</a>
					<div class="document-item-details grey">
						Add new synonyms to improve the knowledge base.
					</div>
				</div>
			</li>
		</ul>
	</div>

	<div class="result-list">
		<div class="result-list-title">
			<h2 class="title">Specials</h2>
			<div class="description grey"></div>
		</div>

		<ul class="document-list">
			<li class="document-item">
				<div class="document-item-checkbox"></div>
				<div class="document-item-content">
					<a href="/concepts/download?name=niue-book1.json">Export semantic annotations of document corpus (Book 1: The art of Attack/Cowper)</a><br />
					<a href="/concepts/download?name=niue-book2.json">Export semantic annotations of document corpus (Book 2: Distribution of Animals/Wallace)</a>
					<div class="document-item-details grey">
						Download semantic annotions of two example volumes.
					</div>
				</div>
			</li>
			<li class="document-item">
				<div class="document-item-checkbox"></div>
				<div class="document-item-content">
					<a href="/concepts/visualize">Full semantic workset exploration</a>
					<div class="document-item-details grey">
						Analyse and explore worksets.
					</div>
				</div>
			</li>
		</ul>
	</div>

	<div class="result-list">
		<div class="result-list-title">
			<h2 class="title">Basket of Knowledge</h2>
			<div class="description grey"></div>
		</div>

		<ul class="document-list">
			<li class="document-item">
				<div class="document-item-checkbox"></div>
				<div class="document-item-content">
					<a href="/basket_items">User requests</a>
					<div class="document-item-details grey">
						Add terms to the knowledge base that are requested by users.
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>
