<% provide(:title, "Visualize") %>
<link href="/assets/visNetwork.css" rel="stylesheet" type="text/css" />
<link href="/assets/vis.css" rel="stylesheet" type="text/css" />
<script src="/assets/vis.js"></script>
<script src="/assets/visNetwork.js"></script>

<div id="concept" class="container text-center">
	<h1>HathiTrust <small>Explore Synonyms</small></h1>
	<p>A visual exploration of concepts</p>
</div>

<div class="container">
	<div class="row clearfix">
		<div class="col-md-10 column">
			<div class="row clearfix">
				<div class="col-md-9 col-md-offset-2 column noRightPad">
					<input type="text" id="searchbox" class="form-control" placeholder="eg... Kiwi">
				</div>
				<div class="col-md-1 column noLeftPad">
					<a><%= image_tag("mag.png", :id => "searchButton") %></a>
				</div>
			</div>
			<br />
			
			<div id="history">
				<ul id="history-list">
				</ul>
			</div>
		</div>
		<div class="col-md-1 column">
		</div>
	</div>
</div>


<div id="graph-div" style="height:60%">
</div>


<script>
$(initialiseGraph());
$("#searchButton").click(function() { search($("#searchbox").val()); });

var map;
var focusedNode;

function initialiseGraph() {
	var container = document.getElementById("graph-div");
	map = new ConceptMap(container);
	map.network.on("click", onClick);
}

function rewind(node) {
	focusedNode = node;
	node.focus(node);
}

function onClick(properties) {
	map.network.selectNodes([]);
	if (properties.nodes.length != 1)
		return;
		
	var id = properties.nodes[0];
	var node = map.nodes.get(id);
	
	if (node == focusedNode)
		return;
		
	node.anchor = true;
	map.nodes.update(node);
	map.collapse();
		
	if (node.group == 'concepts')
		map.showSynonyms(node);
	else
		map.showContexts(node);
}

function search(symbol) {
	var node = new Symbol(symbol);
	node.anchor = true;
	map.addNode(node);
	map.showSenses(node);
}

</script>