<% provide(:title, "Index") %>


<!--
  --
  --
  -- This page is NOT the root page. Look into semanticsearch.html.erb
  --
  --
  -->


<div id="searchDiv" class="container col-md-6 col-md-offset-3 text-center">
  <h1>HathiTrust <small>Semantic Search</small></h1><br>
  <p>Enter searches with the keyword 'search' then terms seperated by |... eg: "search Term1|Term2|Term3"</p>
 
  <div class="input-group input-group-lg">
    <input type="text" id="searchbox" class="form-control" placeholder="search god|england|money">
    <span class="input-group-btn">
      <button type="submit" id="clickButton" class = "btn btn-default"><%= image_tag("mag.png") %></button>
    </span>
  </div>
</div>


<div id="result" class="container col-md-8 col-md-offset-2"></div>
  
  <script>
    $( "#clickButton" ).click(function() {   
        var url = "/search/results" + encodeURI('?command=' + $('#searchbox').val());; // the script where you handle the form input.
        
        var ajax_load = "<div class='containder text-center' id='loadingGif'><img class='loading' src='/assets/load.gif' alt='loading...' /></div>";

        $("#result").html(ajax_load).load(url + " #feed");

        $("#searchDiv").animate({paddingTop:"-=160px"});

        // $.ajax({
        //        type: "GET",
        //        url: url,
        //        data: inputs, // serializes the form's elements.
        //        success: function(data)
        //        {
        //           // alert(data); // show response from the php script.
        //            $("#result").html(data).load("#feed");
        //        }
        //      });
    });


      $(document).keypress(function(event){
      var keycode = (event.keyCode ? event.keyCode : event.which);
      if(keycode == '13'){
          $('#clickButton').trigger('click');   
      }
<%= @num %>
  }); 
  </script>
