<% provide(:title, "Options Page") %>


<script type="text/javascript">

  $(document).ready(function() {
    var showOutlinks = readCookieAsBoolean("showOutlinks");

    if(showOutlinks){
      $("#showOutlinksCB").prop("checked", true);
    }
    else{
      $("#showOutlinksCB").prop("checked", false);
    }
  });



  function saveResult(){
    var checked = $('#showOutlinksCB').prop('checked');

    if(checked){
      createCookie("showOutlinks",true,10);
    }
    else{
      createCookie("showOutlinks",false,10);
    }
  }
</script>

<div id="searchDiv" class="container col-md-6 col-md-offset-3 text-center">
  <h1>HathiTrust <small>Options Page</small></h1><br>
</div>

<div id="tickBoxDiv" class="container col-md-6 col-md-offset-3 text-center">

  <form action="">
    <input type="checkbox" name="options" value="Outlinks" id="showOutlinksCB"> Show outlinks<br>
    <button type="button" class="btn btn-warning" onclick="saveResult();">Save!</button>
  </form>
</div>

<div id="manageDiv" class="container col-md-6 col-md-offset-3">
  <ul>
	<li>
	  <a href="/worksets">Manage worksets</a>
	</li>
    <li>
	  <a href="/users">Manage users</a>
    </li>
  </ul>
</div>

<div id="linksDiv" class="container col-md-6 col-md-offset-3">
  <ul>
	<li>
	  <a href="/links/synonyms">Synonyms</a>
	</li>
    <li>
	  <a href="/links/inlinks">Inlinks</a>
    </li>
    <li>
	  <a href="/static_pages/contextsadder">Context Adder</a>
    </li>
    <li>
	  <a href="/links/outlinks">Outlinks</a>
    </li>
  </ul>
</div>

<div id="linksDivOldExamples" class="container col-md-6 col-md-offset-3">
  <ul>
   <li><a href="https://semanticweb-c9-htrust.c9.io/static_pages/bardynamic">BAR dynamic examples</a>
   </li>
   <li><a href="https://semanticweb-c9-htrust.c9.io/static_pages/blockgraph">Blockgraph</a>
   </li>
   <li><a href="https://semanticweb-c9-htrust.c9.io/static_pages/d3">D3</a>
   </li>
   <li><a href="https://semanticweb-c9-htrust.c9.io/static_pages/d3_collapse_forced_layout">D3_collapse_forced</a>
   </li>
   <li><a href="https://semanticweb-c9-htrust.c9.io/static_pages/d3_collapse_tree">D3_collapse_tree</a>
   </li>
   <li><a href="https://semanticweb-c9-htrust.c9.io/static_pages/sankey_back">Sankey_back</a>
   </li>
   <li><a href="https://semanticweb-c9-htrust.c9.io/static_pages/sankey">Sankey</a>
   </li>
   <li><a href="https://semanticweb-c9-htrust.c9.io/sankey/sankey">Sankey1</a>
   </li>
   <li><a href="https://semanticweb-c9-htrust.c9.io/static_pages/springy_example">Springy_example</a>
   </li>
   <li><a href="https://semanticweb-c9-htrust.c9.io/static_pages/termcloud">TermCloud</a>
   </li>
   <li><a href="https://semanticweb-c9-htrust.c9.io/static_pages/venn_concept">venn_concept</a>
   </li>
 </ul>
</ul>
</div>
